
<div class="modal-header">
    <h5 class="modal-title"><i class="fas fa-exclamation-triangle text-warning"></i> Ups! Algo salió mal.</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="error-page">
        <h4 class="headline text-warning">500</h4>
        <div class="error-content">
            <p>
                @if (ViewBag.error != null)
                {
                    @ViewBag.error
                    <br /><br />
                }

                Trabajaremos en solucionar el problema.
                Mientras tanto, usted puede retornar a la<a href="@Url.Action("Index", "Home")"> página de inicio</a>.
            </p>
            @*<form class="search-form">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" name="submit" class="btn btn-warning">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>*@
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</div>