<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default-dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="bodymodal" class="row" style="display: inline-block;text-align:center;">
                Cargando...
            </div>
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-default-optional" tabindex="-1" role="dialog" aria-labelledby="modal-default-optional-dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="bodymodal" class="row" style="display: inline-block;text-align:center;">
                Cargando...
            </div>
        </div>
    </div>
    <!-- /.modal-dialog (optional) -->
</div>
<!-- /.modal (optional -->)